<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitialTossServlet</servlet-name>
        <servlet-class>za.ac.tut.web.InitialTossServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayAgainServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PlayAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextTossServlet</servlet-name>
        <servlet-class>za.ac.tut.web.NextTossServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndGameServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EndGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitialTossServlet</servlet-name>
        <url-pattern>/InitialTossServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayAgainServlet</servlet-name>
        <url-pattern>/PlayAgainServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextTossServlet</servlet-name>
        <url-pattern>/NextTossServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndGameServlet</servlet-name>
        <url-pattern>/EndGameServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
